---
Checks: '-*, readability-identifier-naming, clang-analyzer-*, clang-analyzer-cplusplus*, performance-*, bugprone-*, modernize-*, misc-unused-*,-bugprone-macro-parentheses, -modernize-use-trailing-return-type, -modernize-use-nodiscard, -modernize-use-default-member-init, -modernize-use-equals-default, -performance-unnecessary-value-param, -misc-unused-parameters, -bugprone-branch-clone, -modernize-avoid-c-arrays'
WarningsAsErrors: ''
HeaderFilterRegex: 'Corresponding Header'
FormatStyle: file
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,        value: CamelCase }
  - { key: readability-identifier-naming.ClassCase,            value: CamelCase }
  - { key: readability-identifier-naming.StructCase,           value: CamelCase }
  - { key: readability-identifier-naming.FunctionCase,         value: CamelCase }
  - { key: readability-identifier-naming.MemberCase,           value: camelBack }
  - { key: readability-identifier-naming.ParameterCase,        value: camelBack }
  - { key: readability-identifier-naming.VariableCase,         value: camelBack }
  - { key: readability-identifier-naming.GlobalConstantCase,   value: camelBack }
  - { key: readability-identifier-naming.GlobalVariableCase,   value: CamelCase }
  - { key: readability-identifier-naming.GlobalVariablePrefix, value: g         }
