[submodule "Extern/CLI11"]
	path = Extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "Extern/imgui"]
	path = Extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Libs/Core"]
	path = Libs/Core
	url = https://github.com/PipeRift/rift-core.git
[submodule "Extern/glfw"]
	path = Extern/glfw
	url = https://github.com/glfw/glfw.git
