[submodule "Extern/CLI11"]
	path = Extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "Extern/imgui"]
	path = Extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Libs/Pipe"]
	path = Libs/Pipe
	url = https://github.com/PipeRift/pipe.git
[submodule "Extern/glfw"]
	path = Extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Extern/IconFontCppHeaders"]
	path = Extern/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
