
#Don't ignore thirdparty binaries
!Source/**/*.exe
!Source/**/*.dll
!Source/**/*.lib
!Source/**/*.pdb

*.sln
*.vcxproj
*.vcxproj.filters
/binaries/**/*.*
/enc_temp_folder/**/*.*

.vs
.vscode
.va

!Programs/**/*
!Assets/**/*.*
