[submodule "Extern/Tracy"]
	path = Extern/Tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Extern/RobinMap"]
	path = Extern/RobinMap
	url = https://github.com/Tessil/robin-map.git
[submodule "Extern/SparseMap"]
	path = Extern/SparseMap
	url = https://github.com/Tessil/sparse-map.git
