<!-- Games Section -->
    <section id="games">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Games</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 my-4 my-md-1">
                    <a href="https://piperift.itch.io/etereo">
                        <h3 class="service-heading">Etereo</h3>
                        <img class="responsive my-3" src="/img/games/etereo.png">
                        <h6>The evil spreads through the woods</h6>
                        <p class="text-muted">
                                Will this child, with the power of the white smoke, be able to seal it again?
                        </p><p class="text-muted">
                                Help him in his adventure, exorcising the corrupted forest dwellers and destroying the darkness dispensers.
                        </p><p class="text-muted">
                                The forest have to be free again.
                        </p>
                    </a>
                </div>
                <div class="col-md-4 my-4 my-md-1">
                    <a href="https://piperift.itch.io/before-you-die">
                        <h3 class="service-heading">Before You Die</h3>
                        <img class="responsive my-3" src="/img/games/before-you-die.jpg">
                        <h6>Survive the Dreams</h6>
                        <p class="text-muted">
                                Nightmares come back every night. The same dungeon, the same monsters, the same death. 
                        </p><p class="text-muted">
                                How many levels will you survive until all your family dies?
                        </p><p class="text-muted">
                                Their souls must be saved! Zelian must be Killed!
                        </p>
                    </a>
                </div>
                <div class="col-md-4 my-4 my-md-1">
                    <a href="/press">
                        <h3 class="service-heading">Mr Brian</h3>
                        <img class="responsive my-3" src="/img/games/mr-brian.png">
                        <p>
                                <i>Ethics is about being aware of what we are.</i> <b>(Albert Jacquard)</b>
                        </p><p class="text-muted">
                                Mr. Brian is a first person stealth game in which we will play as Brian, a neurologist who has been kept locked in some scientific facilities controlled by an A.I self-named “The Conscious”. Brian’s morality will be continuously tested in a escape full of mystery and self-discovery.
                        </p><p class="text-muted">
                                A travel in which nothing is what it seems.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </section>