<!-- Posts Grid Section -->
    <section id="posts" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Posts</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-10 offset-md-1">
                    <!--<div class="col-md-12 col-sm-6 portfolio-item">
                        <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/posts/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ post.title }}</h4>
                            <p class="text-muted">{{ post.subtitle }}</p>
                        </div>
                    </div>-->
                    <div class="col-sm-10 offset-sm-1 col-lg-10 offset-lg-1" style="padding: 0 4em;">
                        <h6 class="text-uppercase" style="font-weight:bold; margin-top: 2em; margin-bottom: 2em; color:#000; text-align: left; border-bottom: 4px solid #000; padding: 10px;">
                            {{ post.title }}
                        </h6>
                        {% assign mod = forloop.index0 | modulo:2 %}

                        {% if mod == 0 %}
                        <div class="col-md-7">
                            <a href="#portfolioModal{{ post.modal-id }}"><img src="img/posts/{{ post.thumbnail }}" width="100%"></a>
                        </div>
                        {% endif %}

                        <div class="col-md-5">
                            <h4 style="font-family: MotivaSans-Bold">May 2, 2017</h4>
                            <p class="text-muted">{{ post.description }}</p>
                            <p><a href="#portfolioModal{{ post.modal-id }}">Read More...</a></p>
                        </div>

                        {% if mod != 0 %}
                        <div class="col-md-7">
                            <a href="#portfolioModal{{ post.modal-id }}"><img src="img/posts/{{ post.thumbnail }}" width="100%"></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
