
{% include press/navbar.html %}

<!-- Header -->
    <header class="cover press">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">{{site.title}}</div>
                <a href="#about" class="page-scroll btn"><i class="fa fa-3x fa-fw fa-angle-down"></i></a>
            </div>
        </div>
    </header>
<!--
    {% for page in site.pages %}
        {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
    {% endfor %}
 -->
