<!-- Navigation -->
    <nav class="navbar navbar-toggleable-md fixed-top justify-content-center">
        <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars text-white" aria-hidden="true"></i>
        </button>
        
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand page-scroll title" href="/">
                {{site.title}}
                <a class="navbar-brand page-scroll text-white ml-5" href="#page-top">
                    Press Kit
                </a>
            </a>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav ml-auto justify-content-end">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#games">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#files">Files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li class="list-inline-item"><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
