---
layout: default
---


<article class="post-container post-container--single">
  <header class="post-header">
    <h2 class="post-title">About</h2>
  </header>

  <section class="post">
    {% capture about %}{% include pages/about.md %}{% endcapture %}
    {{ about  | markdownify }}
    <br>
    <h3>Team</h3>
    <hr class="panel-cover__divider">

    {% for member in site.team %}
      <h4>{{ member.name }}</h4>
      <div>
        {{ member.position }}
      </div>

      <nav class="cover-navigation navigation--social no-margin-left">
        <ul class="navigation">
          {% if member.twitter %}
            <!-- Twitter -->
            <li class="navigation__item team">
              <a href="http://twitter.com/{{ member.twitter }}" title="@{{ member.twitter }} on Twitter" target="_blank">
                <i class="fi fi-social-twitter"></i>
                <span class="label">Twitter</span>
              </a>
            </li>
          {% endif %}

          {% if member.facebook %}
            <!-- Facebook -->
            <li class="navigation__item team">
              <a href="http://fb.me/{{ member.facebook }}" title="{{ member.facebook }} on Facebook" target="_blank">
                <i class="fi fi-social-facebook"></i>
                <span class="label">Facebook</span>
              </a>
            </li>
          {% endif %}

          {% if member.linkedin %}
            <!-- LinkedIn -->
            <li class="navigation__item team">
              <a href="https://www.linkedin.com/in/{{ member.linkedin }}" title="{{ member.linkedin }} on LinkedIn" target="_blank">
                <i class="fi fi-social-linkedin"></i>
                <span class="label">LinkedIn</span>
              </a>
            </li>
          {% endif %}

          {% if member.github %}
            <!-- GitHub -->
            <li class="navigation__item team">
              <a href="https://www.github.com/{{ member.github }}" title="{{ member.github }} on GitHub" target="_blank">
                <i class="fi fi-social-github"></i>
                <span class="label">GitHub</span>
              </a>
            </li>
          {% endif %}

          {% if member.email %}
            <!-- Email -->
            <li class="navigation__item team">
              <a href="mailto:{{ member.email }}" title="Email {{ member.email }}" target="_blank">
                <i class="fi fi-mail"></i>
                <span class="label">Mail</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endfor %}
    <br><br><br><br>
  </section>
</article>