---
layout: default
---

<a href="" class="lenguaje-switch"></a>

<div class="lenguaje english">
	<article id="company" class="post-container post-container--single">

		<header class="post-header">
			<h2 class="post-title">Press Kit</h2>
		</header>

		<section class="post">
			<div class="description">
				<h3>Description</h3>
				<p><strong>Piperift</strong> is a spanish independent game studio were we strive to push the boundaries of game narrative in order to create new experiences that players have never seen before.</p>

				<p>In other words, we love telling stories.</p>
			</div>

			<div class="history">
			    <h3>History</h3>
			    <p>Piperift was founded in March 2016 by Miguel Fernandez, after he decided to start developint MrBrian. He teamed up with Miguel Coronado to fully develop the 'MrBrian' prototype created at the Ludum Dare 34. They worked for six months with other talented profesionals and with no resources, space or money.</p>

			    <h4>And now, what?</h4>
			    <p>The prototype is almost finished!</p>
				<p>Big news may be coming soon! Stay tuned ;D</p>
			</div>
			<br>
			<div class="projects">
			    <h3>Projects</h3>
			    <a><span class="label">Mr. Brian<span class="label"></a>
			</div>
		</section>
	</article>

	<article id= "mrbrian" class="post-container post-container--single m-t-3">
	    <header class="post-header">
			<h2 class="post-title">Mr. Brian</h2>
		</header>

		<section class="post">
			<div class="row">
				<div class="ten columns">
					<div id="description">
						<h3>Description</h3>
						<br>
						<p><em>Ethics is about being aware of what we are.</em> <strong>(Albert Jacquard)</strong></p>

						<p>Mr. Brian is a first person stealth game in which we will play as Brian, a neurologist who has been kept locked in some scientific facilities controlled by an A.I self-named “The Conscious”. Brian’s morality will be continuously tested in a escape full of mystery and self-discovery.</p>

						<p>A travel in which nothing is what it seems.</p>
					</div>
				</div>
				<div class="two columns">
					<h4>Developer:</h4>
					<a href="http://piperift.com">PipeRift</a>
					<br><br>Madrid, Spain

					<h4>Release date:</h4>
					Late 2018

					<h4>Platforms:</h4>
					PC / Consoles
					<h4>Website:</h4>
					<a href="http://piperift.com">piperift.com</a>
					<!--
					<h4>Regular Price:</h4>
					Unknown	-->
				</div>
			</div>

			<div class="row" id="images">
				<div class="twelve columns">
					<h3>Images</h3>
				</div>

				<div class="one-half column no-margin-left">
					<a href="/images/press/Hall2.png" download="mrbrian_image1">
						<img src="/images/press/Hall2.png">
					</a>
				</div>
				<div class="one-half column">
					<a href="/images/press/ScreenCorner.png" download="mrbrian_image2">
						<img src="/images/press/ScreenCorner.png">
					</a>
				</div>
				<div class="one-half column no-margin-left">
					<a href="/images/press/Hall1.png" download="mrbrian_image3">
						<img src="/images/press/Hall1.png">
					</a>
				</div>
				<div class="one-half column">
					<a href="/images/press/Objective.png" download="mrbrian_image4">
						<img src="/images/press/Objective.png">
					</a>
				</div>
			</div>

			<div class="row" id="icon">
				<div class="twelve columns">
					<h3>Icon</h3>
				</div>

				<div class="one-half column no-margin-left">
					<a href="/images/press/Icon.png" download="mrbrian_icon">
						<img src="/images/press/Icon.png">
					</a>
				</div>
			</div>
		</section>
	</article>
</div>






<div class="lenguaje spanish">
	<article class="post-container post-container--single">
		<header class="post-header">
			<h2 class="post-title">Kit de Prensa</h2>
		</header>

		<section class="post">
			<div class="description">
				<h3>Descripcion</h3>
				<p><strong>Piperift</strong> es un estudio de videojuegos independiente español que se esfuerza por ampliar los limites de la narrativa para crear nuevas experiencias nunca vistas por los jugadores.</p>

				<p>En otras palabras, nos encanta contar historias.</p>
			</div>

			<div class="history">
			    <h3>Historia</h3>
			    <p>Piperift fue fundada en Marzo de 2016 por Miguel Fernández, despues de que decidiera comenzar a desarrollar MrBrian. Hizo equipo con Miguel Coronado para desarrollar el prototipo de 'MrBrian', creado en la Ludum Dare 34. Trabajaron por 6 meses junto a otros talentosos profesionales, sin recursos, espacio o dinero.</p>

			    <h4>Y ahora que?</h4>
			    <p>El prototipo esta casi acabado!</p>
				<p>Se acercan novedades! Estad atentos ;D</p>
			</div>
			<br>
			<div class="projects">
			    <h3>Proyectos</h3>
			    <a><span class="label">Mr. Brian<span class="label"></a>
			</div>
		</section>
	</article>

	<article id= "mrbrian" class="post-container post-container--single m-t-3">
	    <header class="post-header">
			<h2 class="post-title">Mr. Brian</h2>
		</header>

		<section class="post">
			<div class="row">
				<div class="ten columns">
					<div id="description">
						<h3>Descripcion</h3>
						<br>
						<p><em>La ética consiste en tomar consciencia de lo que somos.</em> <strong>(Albert Jacquard)</strong></p>

						<p>Mr. Brian es un juego de sigilo en primera persona en el que acompañamos a Brian, un neurólogo preso en unas instalaciones científicas controladas por una I.A autodenominada “La Consciencia”. La moralidad de Brian será puesta a prueba en una huida llena de misterio y autoconocimiento.</p>

						<p>Un viaje en el que nada será lo que parece.</p>
					</div>
				</div>
				<div class="two columns">
					<h4>Desarrollador:</h4>
					<a href="http://piperift.com">PipeRift</a>
					<br><br>Madrid, España

					<h4>Fecha de Salida:</h4>
					Final 2018

					<h4>Plataformas:</h4>
					PC / Consoles
					<h4>Web:</h4>
					<a href="http://piperift.com">piperift.com</a>
					<!--
					<h4>Regular Price:</h4>
					Unknown	-->
				</div>
			</div>

			<div class="row" id="images">
				<div class="twelve columns">
					<h3>Imagenes</h3>
				</div>

				<div class="one-half column no-margin-left">
					<a href="/images/press/Hall2.png" download="mrbrian_image1">
						<img src="/images/press/Hall2.png">
					</a>
				</div>
				<div class="one-half column">
					<a href="/images/press/ScreenCorner.png" download="mrbrian_image2">
						<img src="/images/press/ScreenCorner.png">
					</a>
				</div>
				<div class="one-half column no-margin-left">
					<a href="/images/press/Hall1.png" download="mrbrian_image3">
						<img src="/images/press/Hall1.png">
					</a>
				</div>
				<div class="one-half column">
					<a href="/images/press/Objective.png" download="mrbrian_image4">
						<img src="/images/press/Objective.png">
					</a>
				</div>
			</div>

			<div class="row" id="icon">
				<div class="twelve columns">
					<h3>Icono</h3>
				</div>

				<div class="one-half column no-margin-left">
					<a href="/images/press/Icon.png" download="mrbrian_icon">
						<img src="/images/press/Icon.png">
					</a>
				</div>
			</div>
		</section>
	</article>
</div>