
<!-- games Section -->
    <section id="mr-brian">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-12 mb-5 text-center">
                    <h1 class="section-heading">Mr Brian</h1>
                </div>
                <div class="col-lg-9">
                    <h4>Description</h4>
                    <p><i>Ethics is about being aware of what we are.</i> <b>(Albert Jacquard)</b><br><br>
                    Mr. Brian is a first person stealth game in which we will play as Brian, a neurologist who has been kept locked in some scientific facilities controlled by an A.I self-named “The Conscious”. Brian’s morality will be continuously tested in a escape full of mystery and self-discovery.<br><br>
                    A travel in which nothing is what it seems.</p>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-12 mb-3">
                            <h4>Developer:</h4>
                            <h6><a href="/">Piperift</a></h6>
                            Madrid, Spain
                        </div>
                        <div class="col-lg-12 mb-3">
                            <h5>Release Date:</h5>
                            Late 2018
                        </div>
                        <div class="col-lg-12 mb-3">
                            <h4>Platforms:</h4>
                            PC, Consoles
                        </div>
                        <div class="col-lg-12 mb-3">
                            <h4>Website:</h4>
                            <a href="/">piperift.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
